@import 'tailwindcss';

@theme inline {
	--color-*: initial;
	--color-primary-100: #e8f2fc;
	--color-primary-200: #add4f7;
	--color-primary-400: #3e8ab8;
	--color-primary-500: #2b6587;
	--color-primary-600: #1a425a;
	--color-primary-700: #0a2130;

	--color-secondary-100: #e8e9ea;
	--color-secondary-200: #bfc1c4;
	--color-secondary-300: #989a9f;
	--color-secondary-400: #737579;
	--color-secondary-500: #313234;

	--color-danger-100: #ffcacd;
	--color-danger-400: #cd0031;
	--color-danger-500: #b31e30;

	--color-background: #f5f5f5;
	--color-white: #ffffff;

	--shadow-menu:
		0 -3px 8px #2e3e4808, 0 -14px 14px #2e3e4808, 0 -31px 18px #2e3e4805;

	--font-mono: var(--font-ocra);
	/* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	@apply border-secondary-100 w-full border-t-1;
}
